@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#title-text{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-fill: #e9e9ee;
    -fx-stroke: #131313;
    -fx-stroke-width: 1;
    -fx-font-size: 100;
}

.root {

    -fx-background-color: #1a1c1f;
    -fx-accent: #4462f3;
    -fx-focus-color: -fx-accent;

}


.button {
    -fx-background-color: #212327;
    -fx-border-color: #4b4b4b;
    /*
    -fx-text-fill: #131313;
    */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-border-radius: 4 4 4 4;
    -fx-background-radius: 4 4 4 4;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: #e3dddd;
}

.button:hover {
    -fx-border-color: #e3dddd;
}

.button:pressed {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-background-insets: 0, 0, 0, 0;
}

.text {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20;
    -fx-fill: #e3dddd;
}

#header-text {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 30;
    -fx-fill: #e3dddd;
}

#normal-text {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 20;
    -fx-fill: #e3dddd;
}

#bracket-text {
    -fx-font-family: 'Roboto', sans-serif;
}

#feedback-text {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15;
    -fx-fill: #e3dddd;

}
#background {
    -fx-background-color: #1a1c1f;
}
.scroll-bar{
    -fx-background-color: #1a1c1f;
}

.table-view{
    -fx-background-color: #313131;
}
.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.table-view .column-header-background {
    -fx-background-color: #252525 ;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: #252525;
}

/*
.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}*/
