@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#title-text{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-font-size: 80;
}


/*.my-rect {
    -fx-fill: red;
}
.front-page {
    -fx-padding: 50;
}*/
/*#front-page{

    -fx-background-image: url("frontPage.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 3000 3000;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}*/
/*#title-text{
    -fx-font: Roboto;

    -fx-stroke: black;
    -fx-stroke-width: 1;
}*/

/*.root {

    -fx-background-color: black;
    -fx-background-image: url("frontPageTest.jpg");
    -fx-background-size: cover;

}*/
